* {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
main {
  min-height: 100vh;
  background: #c8ced0;
  position: relative;
  overflow: hidden;
}

main::before {
  content: "";
  width: 200px;
  height: 200px;
  position: absolute;
  background: rgba(230, 187, 187, 0.716);
  border-radius: 50%;
  right: -100px;
  top: -100px;
}
main::after {
  content: "";
  width: 200px;
  height: 200px;
  position: absolute;
  background: rgba(96, 145, 218, 0.653);
  border-radius: 50%;
  bottom: -100px;
  left: -100px;
}

.welcome {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.welcome h1 {
  margin-bottom: 10px;
  font-size: 2.5rem;
}

.welcome p {
  color: gray;
  margin-bottom: 30px;
}

.btn {
  font-size: 1.1rem;
  padding: 10px 30px;
  cursor: pointer;
  border: none;
  background-color: rgb(2, 50, 94);
  border-radius: 10px;
  color: white;
  transition: all 0.3s;
}

.btn:hover {
  opacity: 0.6;
}

.btn:active {
  border-radius: 0;
  opacity: 1;
}

.container {
  max-width: 800px;
  padding: 0 20px;
  margin: 0 auto;
  margin-top: 10px;
}

.group-btns {
  margin-top: 20px;
}

.choose-btn {
  background-color: transparent;
  padding: 3px 15px;
  border: 2px solid gray;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 18px;
  font-size: 16px;
}

.container .quiz {
  border-bottom: 1px solid #afadad;
  padding: 25px 0;
}

.active {
  background-color: rgba(2, 76, 145, 0.15);
  border-color: rgba(2, 50, 94, 0.15);
}

.error {
  background-color: rgba(145, 2, 2, 0.15);
  border-color: rgba(94, 2, 2, 0.263);
}

.correct {
  background-color: rgba(21, 220, 7, 0.224);
  border-color: rgba(21, 220, 7, 0.348);
}

.button {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  align-items: center;
  gap: 20px;
}
.button h4 {
  font-size: 22px;
}
