@font-face {
  font-family: Roboto;
  src: url(./assets/fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: Roboto-m;
  src: url(./assets/fonts/Roboto-Medium.ttf);
}
@font-face {
  font-family: Roboto-b;
  src: url(./assets/fonts/Roboto-Bold.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, Arial;
}

main {
  min-height: 100vh;
  background: rgba(2, 32, 112, 0.582);
  display: flex;
  align-items: center;
  justify-content: center;
}

.bord {
  flex: 1;
  max-width: 600px;
  background: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.bord .header {
  text-align: center;
}

.bord .header h1 {
  margin-bottom: 15px;
  font-family: Roboto-m;
  letter-spacing: 4px;
}

.bord .header p {
  max-width: 300px;
  font-size: 16px;
}

.bord .dice-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 30px;
  column-gap: 20px;
  min-width: 100%;
}

.bord .dice-container .dice {
  margin-left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
  border: none;
  background: white;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
  font-size: 2rem;
  font-weight: bold;
}

.roll-btn {
  font-size: 18px;
  padding: 10px 40px;
  border: none;
  color: white;
  background: rgb(1, 33, 90);
  border-radius: 4px;
  cursor: pointer;
}

.roll-btn:hover {
  opacity: 0.8;
}

.roll-btn:active {
  opacity: 1;
  box-shadow: inset 2px 2px 10px 1px rgba(0, 0, 0, 0.5);
}
